<ol id='menu-id-docs-0' class='menu menu-level0 show '>
  <li id='menu-item-docs-1' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/' class='menu-link  '>Overview</a></span>  </li>
  <li id='menu-item-docs-2' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/backend-discovery-and-overrides/' class='menu-link  '>Backend Discovery and Overrides</a></span>  </li>
  <li id='menu-item-docs-3' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/using-pretext-in-native-hosts/' class='menu-link  '>Using Pretext in Native Hosts</a></span>  </li>
  <li id='menu-item-docs-4' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/integrating-in-uno/' class='menu-link  '>Integrating in Uno</a></span>  </li>
  <li id='menu-item-docs-5' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/using-pretext-in-any-skiasharp-host/' class='menu-link  '>Using Pretext in Any SkiaSharp Host</a></span>  </li>
  <li id='menu-item-docs-6' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/implementing-a-custom-backend/' class='menu-link  '>Implementing a Custom Backend</a></span>  </li>
  <li id='menu-item-docs-7' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/sample-hosts-and-shared-assets/' class='menu-link  '>Sample Hosts and Shared Assets</a></span>  </li>
  <li id='menu-item-docs-8' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/testing-and-diagnostics/' class='menu-link  '>Testing and Diagnostics</a></span>  </li>
  <li id='menu-item-docs-9' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/sample-gallery-tour/' class='menu-link  '>Sample Gallery Tour</a></span>  </li>
  <li id='menu-item-docs-10' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/markdown-chat-virtualization/' class='menu-link  '>Markdown Chat Virtualization</a></span>  </li>
  <li id='menu-item-docs-11' class='menu-item '>
    <span class='menu-item-row'><a href='/PretextSharp/articles/guides/shrinkwrap-and-editorial-layout/' class='menu-link  '>Shrinkwrap and Editorial Layout</a></span>  </li>
</ol>
